<div>
	<center>
		<h1>Home Page :
			 <%= image_tag("forum_image_2.gif", size: "290x90", alt: "forum") %>
		</h1>
	</center>
</div>


<div> <%= image_tag("forum_banner1.jpg", alt: "Forum_image") %></div>


